altgraph==0.17.3
certifi==2022.12.7
cffi==1.15.1
chardet==5.1.0
charset-normalizer==3.1.0
cryptography==40.0.2
idna==3.4
lml==0.1.0
numpy==1.24.3
pandas==2.0.1
pefile==2023.2.7
pycparser==2.21
pyexcel==0.7.0
pyexcel-io==0.6.6
pyinstaller==5.10.1
pyinstaller-hooks-contrib==2023.2
pyperclip==1.8.2
python-dateutil==2.8.2
pytz==2023.3
pywin32-ctypes==0.2.0
requests==2.28.2
six==1.16.0
tabulate==0.9.0
texttable==1.6.7
tzdata==2023.3
urllib3==1.26.15
