Counter {
    layout: horizontal;
    box-sizing: content-box;
    background: $panel;
    height: 5;
    margin: 1;
    min-width: 50;
    padding-left: 1;
    padding-right: 1;
    border: round;
    border-title-align: center;
    border-title-color: white
}

#count {
    content-align: center middle;
    box-sizing: content-box;
    background: darkred 30%;
    height: 100%;
    text-style: bold;
}

Counter Button {
    box-sizing: border-box;
    width: 16;
    padding: 1;
    height: auto;
}

#minus {
    dock: left;
}

#plus {
    dock: right;
}

StartupScreen {
    align: center middle;
}

#startup_prompt {
    grid-size: 2;
    grid-gutter: 1 2;
    grid-rows: 1fr 3;
    padding: 0 1;
    width: 60;
    height: 11;
    border: thick $background 80%;
    background: $surface;
}

#question {
    column-span: 2;
    height: 1fr;
    width: 1fr;
    content-align: center middle;
}

#startup_prompt Button {
    width: 100%;
}

#file_search Input.-valid {
    border: tall $success 60%;
}

#file_search Input.-valid:focus {
    border: tall $success;
}

#file_search Input {
    margin: 1 1;
}

#file_search Label {
    margin: 1 2;
}

#file_search Pretty {
    margin: 1 2;
}

#file_search #file_tree {
    margin: 1 2;
}
